@charset "utf-8";

/* 탭 메뉴 */



.rb_latest_tabs_top .latest-tabs li a {
  color: #333;
}

.rb_latest_tabs_top .latest-tabs li a.active {
  color: #000;
}

.rb_latest_tabs_top .latest-tabs-wrap {padding-top: 0px; margin-top: 0px;}
.rb_latest_tabs_top .latest-tab-wrap {padding-top: 15px;}

/* 콘텐츠 컨테이너 */
.rb_latest_tabs_top .latest-tab-content-thumb-top {
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.rb_latest_tabs_top .latest-tab-content-thumb-top.active {
  visibility: visible;
  height: auto;
  opacity: 1;
}

.rb_latest_tabs_top .latest-tabs-wrap .bo_tab {margin-bottom: 0px; display: flex;}
.rb_latest_tabs_top .latest-tabs-wrap .bo_tab .bo_tab_ul {flex:1; position: relative;}
.rb_latest_tabs_top .latest-tabs-wrap .bo_tab a {display: inline-flex; padding: 8px 15px; border:0px; color:#888; line-height: 100%; position: relative; font-size: 13px; border:1px solid rgba(0,0,0,0.1); margin-left: -1px;}
.rb_latest_tabs_top .latest-tabs-wrap .bo_tab li:first-child a {border-top-left-radius: 6px; border-bottom-left-radius: 6px; margin-left: 0px;}
.rb_latest_tabs_top .latest-tabs-wrap .bo_tab li:last-child a {border-top-right-radius: 6px; border-bottom-right-radius: 6px;}
.rb_latest_tabs_top .latest-tabs-wrap .bo_tab a:hover {background-color: #f0f5f9; font-family:'font-B',sans-serif; color:#25282B;}
.rb_latest_tabs_top .latest-tabs-wrap .bo_tab a.active {font-weight: normal; box-shadow: none; color:#25282B; font-family:'font-B',sans-serif; background-color: #f0f5f9;}
.rb_latest_tabs_top .latest-tabs-wrap .bo_tab li {padding: 0px; display: inline-block; width: auto !important;}
.rb_latest_tabs_top .latest-tabs-wrap .bo_tab #bo_cate_ul:before {content: "";bottom: 0;position: absolute;width: 100%;margin: 0;height: 1px;background-color: rgba(0, 0, 0, .1);}
.rb_latest_tabs_top .latest-tabs-wrap .bo_tab #bo_cate_on::after {content: "";position: absolute;bottom: 0;right: 20px;left: 0px;height: 2px;background-color: currentColor;}

.rb_latest_tabs_top .latest-tabs-wrap .no_data {padding-top: 40px !important; padding-bottom: 45px !important; border-bottom: 0px !important; margin-top:0px !important;}

.rb_latest_tabs_top .latest-tab-content-thumb-top {box-sizing: border-box; width: 100%}
.rb_latest_tabs_top .latest-tab-content-thumb-top dd {position: relative;}
.rb_latest_tabs_top .latest-tab-content-thumb-top .more_btn {position: absolute; top:0px; right:0px;}
.rb_latest_tabs_top .latest-tab-content-thumb-top dd:last-child {margin-bottom: 0px;}
.rb_latest_tabs_top .latest-tab-content-thumb-top .bbs_main_wrap_con_ul1 {width: 100%; box-sizing: border-box; position: relative; margin-bottom: 20px; aspect-ratio: 4 / 3; overflow: hidden; border-radius: 10px; border:1px solid rgba(0,0,0,0.1);}
.rb_latest_tabs_top .latest-tab-content-thumb-top .bbs_main_wrap_con_ul1 img {width: 100%; height:100%; object-fit: cover; border:0px;}
.rb_latest_tabs_top .latest-tab-content-thumb-top .bbs_main_wrap_con_ul2 {width: 100%;}
.rb_latest_tabs_top .latest-tab-content-thumb-top .bbs_main_wrap_con_subj {font-size: 16px;}
.rb_latest_tabs_top .latest-tab-content-thumb-top .bbs_main_wrap_con_cont {font-size: 14px; color:#666; word-break: keep-all; margin-top: 10px;}
.rb_latest_tabs_top .latest-tab-content-thumb-top .bbs_main_wrap_con_cont a {color:#666;}
.rb_latest_tabs_top .latest-tab-content-thumb-top .bbs_main_wrap_con_info {font-size: 12px; color:#999; margin-top: 10px;}
.rb_latest_tabs_top .latest-tab-content-thumb-top .bbs_main_wrap_con_writer {margin-top: 20px;}
.rb_latest_tabs_top .latest-tab-content-thumb-top .bbs_main_wrap_con_writer span {display: inline-block;}
.rb_latest_tabs_top .latest-tab-content-thumb-top .prof_tiny_image img {width: 30px; height:auto; border-radius: 50%; margin-right: 5px;}
.rb_latest_tabs_top .latest-tab-content-thumb-top .prof_tiny_name {font-size: 12px; color:#999; line-height: 30px; margin-right: 10px;}
.rb_latest_tabs_top .latest-tab-content-thumb-top .bbs_list_label {font-size: 11px; border-radius: 4px; padding-left: 5px; padding-right: 5px; padding-top: 3px; padding-bottom: 2px;}

.rb_latest_tabs_top .latest-tab-content-thumb-top .icon_abs {position: absolute; right:10px; top:10px;}
.rb_latest_tabs_top .latest-tab-content-thumb-top .bbs_list_label.label1 {background-color: #FFC700; color:#fff;}
.rb_latest_tabs_top .latest-tab-content-thumb-top .bbs_list_label.label2 {background-color: #00A3FF; color:#fff;}
.rb_latest_tabs_top .latest-tab-content-thumb-top .bbs_list_label.label3 {background-color: #8ED100; color:#fff;}
.rb_latest_tabs_top .latest-tab-content-thumb-top .bbs_list_label.label4 {background-color: #AA20FF; color:#fff;}
.rb_latest_tabs_top .latest-tab-content-thumb-top .bbs_list_label.label5 {background-color: #25282B; color:#fff;}
.rb_latest_tabs_top .latest-tab-content-thumb-top .bbs_list_label.label6 {background-color: #D6DCE0; color:#000;}


