@charset "utf-8";

.bbs_main_wrap_thumb_con_main {box-sizing: border-box; width: 100%;}
.bbs_main_wrap_thumb_con_main dd {position: relative; position: relative; padding-bottom: 20px; border-bottom: 1px solid #eee;}
.bbs_main_wrap_thumb_con_main dd:last-child {margin-bottom: 0px;}
.bbs_main_wrap_thumb_con_main .bbs_main_wrap_con_ul1 {width: 70px; height:70px; position: absolute; top:0px; right:0px;}
.bbs_main_wrap_thumb_con_main .bbs_main_wrap_con_ul1 img {width: 100%; height:100%; border-radius: 10px; object-fit: cover;}
.bbs_main_wrap_thumb_con_main .bbs_main_wrap_con_ul2 {width: 100%; padding-right: 100px; min-height: 75px;}
.bbs_main_wrap_thumb_con_main .bbs_main_wrap_con_subj {font-size: 18px;}
.bbs_main_wrap_thumb_con_main .bbs_main_wrap_con_cont {font-size: 14px; color:#666; word-break: keep-all; margin-top: 15px;}
.bbs_main_wrap_thumb_con_main .bbs_main_wrap_con_cont a {color:#666; font-size: 15px;}
.bbs_main_wrap_thumb_con_main .bbs_main_wrap_con_info {font-size: 12px; color:#999; margin-top: 5px;}
.bbs_main_wrap_thumb_con_main .bbs_main_wrap_con_writer {margin-top: 10px;}
.bbs_main_wrap_thumb_con_main .bbs_main_wrap_con_writer span {display: inline-block;}
.bbs_main_wrap_thumb_con_main .prof_tiny_image img {width: 30px; height:auto; border-radius: 50%; margin-right: 5px;}
.bbs_main_wrap_thumb_con_main .prof_tiny_name {font-size: 12px; color:#999; line-height: 20px; margin-right: 10px;}
.bbs_main_wrap_thumb_con_main .bbs_list_label {line-height: 17px; font-size: 11px; border-radius: 4px; padding-left: 5px; padding-right: 5px;}

.bbs_main_wrap_thumb_con_main .bbs_list_label.label1 {background-color: #FFC700; color:#fff;}
.bbs_main_wrap_thumb_con_main .bbs_list_label.label2 {background-color: #00A3FF; color:#fff;}
.bbs_main_wrap_thumb_con_main .bbs_list_label.label3 {background-color: #8ED100; color:#fff;}
.bbs_main_wrap_thumb_con_main .bbs_list_label.label4 {background-color: #AA20FF; color:#fff;}
.bbs_main_wrap_thumb_con_main .bbs_list_label.label5 {background-color: #25282B; color:#fff;}
.bbs_main_wrap_thumb_con_main .bbs_list_label.label6 {background-color: #D6DCE0; color:#000;}

.bbs_main_wrap_thumb_con_main a.cut_subj {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 70%;
    float: left;
    margin-right: 5px;
}

.bbs_main_wrap_thumb_con_main .bbs_list_label_inline {display: inline-block; font-size: 9px; line-height: 100%; padding: 4px 5px; vertical-align: middle; margin-top: -3px;}
.bbs_main_wrap_thumb_con_main .comments_span {font-size: 14px; margin-right: 5px; display: inline-block; vertical-align: top; margin-top:4px; line-height: 100%;}